<div class="container">
  <h1 class="resHead has-text-white">Welcome back!</h1>
  <div class="registrationForm is-half-desktop">
    <form method="POST" action="/login" class="innerRegForm">
      <div class="field">
        <label for="email">Email</label>
        <input class="input" type="text" name="email" id="email">
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input class="input" type="password" name="password" id="password">
      </div>
      <button class="regButton">-  Login  -</button>
    </form>
    <a href="/register" style="
    top: 10px;
    font-size: 20px;
    color: #aea8b5;">Dont have an account? Click here!</a>
  </div>
  <div class="registrationFormPics is-half-desktop">
    <div class="imgCarousel">
      <div><img src="https://media.timeout.com/images/100618551/image.jpg"></div>
      <div><img src="http://blog.movebubble.com/wp-content/uploads/2014/10/The-Lion-and-the-Unicorn2.jpg"></div>
      <div><img src="http://www.abouttimemagazine.co.uk/wp-content/uploads/2015/05/unnamed-51.jpg"></div>
    </div>
  </div>
<div>
